{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{forum.name}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if g.user %}
    <a href="{{ url_for('forum.topicForm', forum_id=forum.id) }}">New Topic</a>
  {% else %}
    <span>Login to create new topic</span>
  {% endif %}

  {% for topic in topics %}
    <a href="{{ url_for('forum.topic', forum_id=forum.id, topic_id=topic.id) }}">
      <h2>{{ topic.title }}</h2>
    </a>
  {% if g.user and g.user.is_admin %}
    <form method="post" action="/topic/{{ topic.id }}/delete">
      <input type="submit" value="Delete">
    </form>
  {% endif %}
  {% endfor %}
{% endblock %}
