{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ topic.title }} - {{forum.name}}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    {{ topic.body }}
  </div>
  {% if g.user %}
    <a href="{{ url_for('forum.commentForm', forum_id=forum.id, topic_id=topic.id) }}">New comment</a>
  {% else %}
    <span>Login to comment</span>
  {% endif %}

  {% for comment in comments %}
    {% if comment.account_id == g.user.id %}
    <a href="{{ url_for('forum.commentEditForm', comment_id=comment.id)}}">Edit comment</a>
    {% endif %}
    <div>{{ comment.username }}:</div>
    <div>{{ comment.body }}</div>
  {% endfor %}
{% endblock %}


