<!doctype html>
<title>FF - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Welcome to FunForum</a></h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="/TODO">Profile settings</a>

    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
    <li>
      <form method="post" action="/search">
        <label for="query">Search</label>
        <input name="query" id="query" required>
      </form>
    </li>
  </ul>
</nav>
<div class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
